<!DOCTYPE html>

<html lang="en">
<head>
    <!--# include file="eum.html" -->

```
<meta charset="UTF-8">
<meta http-equiv="Cache-Control" content="no-Cache">
<meta http-equiv="Pragma" content="no-cache">

<title>SkyNetOps Commerce Platform</title>

<link rel="shortcut icon" type="image/png" href="/media/instana_icon_square.png"/>

<style type="text/css">
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
    @import url('/css/style.css');
    @import url('/css/auto-complete.css');
</style>


</head>

<body ng-app="robotshop">

<div ng-controller="shopform" class="app-container">


<!-- Sidebar -->
        <aside class="sidebar">

            <div class="logo">
                <h2>SkyNetOps</h2>
                <span>Commerce Platform</span>
            </div>

            <ul class="sidebar-menu">

                <li>
                    <a href="/">🏠 Dashboard</a>
                </li>
                <li class="menu-group">

                    <div
                        class="menu-title"
                        ng-click="showCategories = !showCategories">

                        📂 Categories

                    </div>

                    <ul
                        class="submenu"
                        ng-show="showCategories">

                        <li
                            ng-repeat="cat in data.categories">

                            <div
                                class="submenu-category"
                                ng-click="getProducts(cat)">

                                {{ cat }}

                            </div>

                            <ul
                                class="product-submenu"
                                ng-if="data.products[cat]">

                                <li
                                    ng-repeat="prod in data.products[cat]">

                                    <a
                                        href="product/{{ prod.sku }}">

                                        {{ prod.name }}

                                    </a>

                                </li>

                            </ul>

                        </li>

                    </ul>

                </li>

        <li>
            <a href="cart">🛒 Cart</a>
        </li>

    </ul>

    <div class="sidebar-footer">


    <div class="cart-summary">

        <h4>🛒 Cart Total</h4>

        <div
            ng-if="data.cart.total == 0"
            class="cart-empty">

            0

        </div>

        <div
            ng-if="data.cart.total != 0"
            class="cart-price">

            €{{ data.cart.total.toFixed(2) }}

        </div>

    </div>
   

    </div>


    

</aside>

<!-- Main Content -->
<main class="content">

    <!-- Navbar -->
    <nav class="topbar">

        <div class="top-left">

            <form style="display:flex;gap:10px;align-items:center;">

                <input
                    type="text"
                    placeholder="Search products..."
                    ng-model="data.searchText">

                <button
                    type="button"
                    ng-click="search();">

                    Search

                </button>

            </form>

        </div>

        <div class="top-right">

            <div ng-if="data.user.name === undefined">
                <a href="login" class="login-btn">
                    Login
                </a>
            </div>

            <div ng-if="data.user.name !== undefined">

                <span class="user-name">
                    {{ data.user.name }}
                </span>

                <button
                    class="logout-btn"
                    ng-click="logout();">

                    Logout

                </button>

            </div>

        </div>

    </nav>

    <!-- Dynamic Angular View -->
    <div class="page-content">

        <div ng-view></div>

    </div>

    <div class="footer">
    © 2026 SkyNetOps Commerce Platform
    </div>

</main>


</div>

<!-- AngularJS -->

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-route.js"></script>

<script src="/js/auto-complete.js"></script>

<script src="/js/controller.js"></script>

<script type="text/javascript">
angular.element(document.getElementsByTagName('head')).append(
    angular.element(
        '<base href="' + window.location.pathname + '" />'
    )
);
</script>

</body>
</html>
